.sombra-background{
  background-color: rgba(39, 54, 68, 0.98);
  height: 100%;
padding-top: 10px;
}
#sub-root-coluna {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 15px;
  margin: 20px 50px 0px 50px;
  padding-bottom: 50px;
  justify-content: center;
  text-align: center;
  font-family:"Gill Sans", sans-serif;
}
#sub-root-linha {
  display: grid;
  grid-template-columns: repeat(1, 70vw);
  gap: 15px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  text-align: baseline;
  font-family:"Gill Sans", sans-serif;
}

.title-linha{
  display: flex;
  justify-content:baseline;
  align-items: baseline;
  font-size: 17px;
  height: 60%;
  width: 20%;
  padding-left: 2%;
}
.title-coluna{
  position:absolute;
  background-color: #313e47;
  top: 120px;
  width: 250px;
}

.description-title-genero{
  text-align: left;
  margin-left: 3%;
}

.description-coluna{
  position: absolute;
  top: 167px;
  width: 240px;
  height: 133px;
  text-align:left;
  margin-top: 0px;
  padding-left: 10px;
}
.description-linha{
  top: 167px;
  width: 25%;
  height: 100%;
  text-align:left;
  margin-top: 0px;
  padding-left: 10px;
}

.valor-linha{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#000000;
  top: 300px;
  width: 30%;
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
  gap:5px;
}
.valor-coluna{
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  background-color:#000000;
  top: 300px;
  width: 250px;
  height: 50px;
  gap:5px;
}

.btn-inicio{
  height: 100%;
}


.btn-inicio:hover{
  border: 1px solid black;
  height: 100%;
}

body {
  background-image: url("https://img.freepik.com/premium-vector/video-game-controller-seamless-pattern_615746-89.jpg?w=2000");
  margin: 0;
  padding: 0;
  font-family:"Gill Sans", sans-serif;
  min-height: 700px;
}

.item-wrapper-linha{
  color: white;
  display: flex;
  justify-content:baseline;
  flex-direction: row;
  padding: 0px 0px;
  margin-left: 5vw;
  gap: 0px;
  height: 80px;
  width: 60vw;
  align-items: center;
  border-radius: 5px;
  border: 1px solid;
  border-color: gray;
  transition: transform .2s;
  overflow: hidden;
  position: relative;
}

.item-wrapper-coluna {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(78, 78, 78));
  color: white;
  display: flex;
  justify-content:flex-start;
  padding: 0px 0px;
  gap: 0px;
  height: 350px;
  width: 250px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid;
  border-color: gray;
  transition: transform .2s;
  overflow: hidden;
  position: relative;
}
.item-wrapper-linha:hover {
  transform: scale(1.05);
  z-index: 100;
}
.item-wrapper-coluna:hover {
  transform: scale(1.15);
  z-index: 100;
}

.btn{
  background-color: #6DAE30;
  width: 90px;
  height: 40px;
}

.filter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-left: 15%;
  margin-right: 15%;
  gap: 2%;
  width: 70%;
  background-color: #2F5375;
  color:#E5E5E5;
  font-size: 12px;
}

.filter-wrapper > button {
  border: none;
  background: transparent;
  width: 80px;
  height: 24px;
  color: white;
  
}

.img-jogo-linha{
  max-width: 25%;
  object-fit:cover;
}

.img-jogo-coluna{
  max-width: 300px;
  height: 140px;
  object-fit:cover;
}

.btn-inicio{
  background-color: transparent;
  padding: 0%;
}


.menu-fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 20%;
  height: 135px;
  width: 60%;
  background-color: #171A21;
  color: #BDBDB3;
}

.sub-menu {
  display: flex;
  gap: 35px;  
  flex-direction: row;
}

.logo{
  color: white;
  width: 130px;
}

.preco-info{
  color: white;
  font-size: 12px;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.vlz-info{
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 15%;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  height: 100%;
  width: 95px;
  border: none;
  padding: 0px;
  font-size: 12px; 
  color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: flex;
  position: relative;
  display: inline-block;
  height: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  justify-content: center;
  position: absolute;
  background-color: rgba(26, 43, 58, .95);
  border: 1px solid rgba(0, 0, 0, .5);
  z-index: 1;
  min-width: 350px;
  text-align: center;
}

.analise {
  display: none;
  justify-content: center;
  position: absolute;
  background-color: rgba(26, 43, 58, .95);
  border: 1px solid black;
  z-index: 1;
  min-width: 50px;
  text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  border: 1px solid black;
  height: 100%;
}

.categorias-drop{
  background: transparent;
  color: white;
  border: 0px;
  width: 100px;
  height: 25px;
  margin: 4px 4px 4px 4px;
}

.categorias-drop:hover{
  font-weight: bold;
  font-size: 13px;
}